.pageContainer{
    display: flex;
    padding: 2rem;
}

.filters{
    width: 30%;
    background-color: #FFB2B2;
    border-radius: 12px;
    padding: 2rem;
    margin: 3.5rem 2rem 3.5rem 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.booksList{
    width: 70%;
}

.numberOfShownBooksContainer{
    display: flex;
    justify-content: flex-end;
}

.numberOfShownBooks{
    margin: 0 1rem;
    cursor: pointer;
}
.numberOfShownBooks:hover{
    color: #f78282;
}

.active{
    color: red;
    font-weight: 600;
}

.navigation{
    display: flex;
    justify-content: space-between;
    margin-left: 2rem;
}

.navigationButton{
    cursor: pointer;
}
.navigationButton:hover{
    color:#f78282;
}

.biggestFont{
    font-size: 1.4rem;
}

.bigFont{
    font-size: 1.2rem;
}

.marginBottom{
    margin-bottom: 2rem;
}