.bookContainer{
    display: flex;
    justify-content: space-between;
    background-color: #FFB2B2;
    border-radius: 12px;
    padding: 2rem;
    margin: 2rem 0 2rem 2rem;
}

.mainDetailsContainer{
    display: flex;
}

.cursorPoiner{
    cursor: pointer;
}

.detailsContainer .biggestFont:hover{
    font-size: 1.5rem;
}

.detailsContainer .bigFont:hover{
    font-size: 1.3rem;
}

.detailsContainer .normalFont:hover{
    font-size: 1.1rem;
}

.imageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.detailsContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 3rem;
}

.bookDetail{
    padding-bottom: 1rem;
}

.biggestFont{
    font-size: 1.4rem;
}

.bigFont{
    font-size: 1.2rem;
}

.normalFont{
    font-size: 1rem;
}

.gradeContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.booksContainer{
    display: flex; 
    align-items: center; 
    flex-direction: column;
}

.bookImage{
    margin-bottom: 1rem;
}

.bookTitle, .bookAuthor{
    text-align: center;
    font-size: 12px;
    font-family: 'Salesforce Sans', sans-serif;
    font-weight: 400;
}