/*Whole conatiner*/
.naviagtionContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

.pinkColor{
    background-color: rgba(255, 200, 200, 0.54);
}

/* Logo section */
.logoContainer{
    margin-left: 5%;
}


/* Navigation section */
.LinksAndSearchContainer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}



/* Links */

.linksContainer{
    display: flex;
    width: 36rem;
}

.link, .dropdownLink{
    padding: 19px 1.9rem;
}

.link:active,
.link:active:hover{
    background-color: #ffcbcb !important;
    font-weight: bold;
    text-decoration: none !important;
}

.link:hover{
    background-color: #ffcbcb6e !important;
    text-decoration: none !important;
}

.positionRelative{
    position: relative;
}

.dropdownLink{
    cursor: context-menu;
}

.dropdownContent{
    display: none;
    position: absolute;
    flex-direction: column;
    top: 98%;
}

/* Search bar */
.searchContainer{
    margin-right: 5%;
}

input{
    background-color: white;
    border-radius: 10px;
    padding: 6px 15px;
    border: none;
}

input:focus-visible,
input:focus{
    border: 2px solid gray;
    outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #999999;
    opacity: 1; /*Firefox*/
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #999999;
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: #999999;
}




